img{
    width: 100%;
    height: auto;
}

h1
{
    color: black;
    font-weight: bold;
}

p{
    color: black;
}

a{
    background-color: #ff450b;
    color: white;
    text-decoration: none;
}

a:hover{
    background-color: #ff450b;
    color: black;
    border: 2px solid black;
}

.main-bg{
    background: url("https://cdn.pixabay.com/photo/2015/05/21/23/15/movie-778063_960_720.jpg") no-repeat;
    background-size: cover;
}