button
{
    background-color: #ff450b;
    color: black;
}

button:hover
{
    background-color: #ff450b;
    color: black;
}

img{
    width: 100%;
    cursor: pointer;
}

h5
{
    color: black;
}
input{
    border: 1px solid black;
}

.main-bg{
    background: url("https://cdn.pixabay.com/photo/2015/05/21/23/15/movie-778063_960_720.jpg") no-repeat;
    background-size: cover;
    background-attachment: fixed;
}